# Pandas
Pandas is the go-to for data processing in python. (it is built on Numpy).

Pandas provides tabular data structures for high-performance functions to analyse, clean, explore, and manipulate ‘big’ multidimensional and heterogeneous data.

Think of Pandas data structures like you would a spreadsheet (like in Excel) or an SQL table – but faster, easier and more powerful.

Pandas has two core data structures:

**Series** - A one-dimensional labelled homogeneous array containing data of any type. It is similar to a list, but has additional features such as indexing, slicing, and missing value handling. 

**DataFrame** - A two-dimensional, labelled, and heterogeneous tabular data structure with its own indexing system.

First, lets make sure pandas has been imported:

In [2]:
import pandas as pd

## Let's work with Pandas Dataframes
The first step will involve you creating a hypothetical dataframe and then you will move on to importing energy data with Pandas to perform basic descriptive statistics.

There are many ways to create a DataFrame, from scratch, most closely resemble a python dictionary with nested lists.

In [3]:
df = pd.DataFrame({"Country": ["Namibia", "Portugal", "Egypt", "Haiti", "Thailand", "Bolivia", "Estonia"],
                   "Primary Energy Consumption (TWh)": [22, 258, 1105, 12, 1406, 85, 62]})
df

    Country  Primary Energy Consumption (TWh)
0   Namibia                                22
1  Portugal                               258
2     Egypt                              1105
3     Haiti                                12
4  Thailand                              1406
5   Bolivia                                85
6   Estonia                                62

## Activity 1: Creating your own data and placing it into a Pandas dataframe   

1. Using data from [OurWorldInData](https://ourworldindata.org/grapher/primary-sub-energy-source?tab=table), create a DataFrame for your group’s country which contains the primary energy consumption by source for at least 3 year and at least 3 sources.

     Your index should be the year, and your columns should be the energy source

2. Use the ```.mean()``` and ```.describe()``` methods for your data. Try setting the ```axis``` keyword to 0 or 1. What does it do?
3. Try plotting the data using the .plot() method. Change the type of plot using the ```kind``` keyword argument.

In [ ]:
# create your dataframe here

import pandas as pd
import requests

# Fetch the data.
bgl = pd.read_csv("https://ourworldindata.org/grapher/primary-sub-energy-source.csv?v=1&csvType=filtered&useColumnShortNames=true&tab=table&time=2021..2024&tableSearch=bangla&overlay=download-data", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

# Fetch the metadata
metadata = requests.get("https://ourworldindata.org/grapher/primary-sub-energy-source.metadata.json?v=1&csvType=filtered&useColumnShortNames=true&tab=table&time=2021..2024&tableSearch=bangla&overlay=download-data").json()
bgl

In [4]:
#create the df by hand and copying the values 
import pandas as pd
d =  pd.DataFrame({"year": [2021, 2022,2023],
                   "hydropower_(TWh)": [1.68 , 1.90,1.67 ],
                    "solar_(TWh)" : [1.51,1.59,2.26  ],
                    "coal_(TWh)" : [42.31,55.40 , 81.77 ]})
df

    Country  Primary Energy Consumption (TWh)
0   Namibia                                22
1  Portugal                               258
2     Egypt                              1105
3     Haiti                                12
4  Thailand                              1406
5   Bolivia                                85
6   Estonia                                62

In [5]:
# understand how to use the .mean() function which is a method of the dataframe object

In [6]:
# another useful built-in method for quick data exploration is the .plot() method

### There are a few ways of importing data into Python and Pandas makes it very convenient.  
  
Have a look at the code below to see two examples  
  
`import pandas as pd
df = pd.read_csv('filename.txt', sep=" ", header=None, names=["a","b","c"])`
  
Or  
  
`import pandas as pd 
df = pd.read_csv('file_location\filename.txt', delimiter = "\t")  # Can input a URL as well`

#### Go ahead and import the data

The code below will use a URL to import data on the power plants of the USA, using the simpliest form of input arguements to the Pandas `read_csv` function. Note how we imported Numpy as `np` and not Pandas as `pd`. Dataframes are conventionally called `df` in Python but you can rename to another logical variable name.

In [7]:
# The following implies an internet connection of course
import pandas as pd
usa_gen = pd.read_csv('https://raw.githubusercontent.com/wri/global-power-plant-database/master/source_databases_csv/database_USA.csv')

#### Let's have a look at the data

The `head` function is an easy way to inspect your dataset. The default number of rows to show is 5. Let's explore the dataset a bit. Use `df.head(20)` to see more rows etc.

In [8]:
usa_gen.head(10)

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,...,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018,generation_gwh_2019,generation_data_source,estimated_generation_gwh
0,USA,United States of America,10 Briggs Solar NG LLC (East),USA0062781,0.0,41.6327,-71.4963,NaN,NaN,NaN,...,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USA,United States of America,100 Brook Hill Drive Solar,USA0063292,2.0,41.0930,-73.9828,Solar,NaN,NaN,...,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,2.467,U.S. Energy Information Administration,NaN
2,USA,United States of America,1001 Ebenezer Church Solar,USA0063444,0.0,36.2838,-80.8434,NaN,NaN,NaN,...,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USA,United States of America,1008 Matthews Solar,USA0063447,0.0,36.2167,-80.5525,NaN,NaN,NaN,...,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USA,United States of America,1009 Yadkin Solar,USA0063445,0.0,36.1475,-80.6561,NaN,NaN,NaN,...,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,USA,United States of America,1025 Traveller Solar LLC,USA0062660,5.0,35.4273,-79.1263,Solar,NaN,NaN,...,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,1.332,U.S. Energy Information Administration,NaN
6,USA,United States of America,1045 Tomlin Mill Solar,USA0063448,0.0,35.9162,-80.8355,NaN,NaN,NaN,...,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,USA,United States of America,1047 Little Mountain Solar LLC,USA0062661,3.0,36.1971,-80.8067,Solar,NaN,NaN,...,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,1.417,U.S. Energy Information Administration,NaN
8,USA,United States of America,1073 Onslow Solar,USA0063446,0.0,34.7736,-77.1858,NaN,NaN,NaN,...,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,USA,United States of America,12 Applegate Solar LLC,USA0059371,1.9,40.2003,-74.5761,Solar,NaN,NaN,...,2019.0,2.41461,2.35,2.43,2.492,2.276,2.207,2.349,U.S. Energy Information Administration,NaN

### Indexing with Pandas
There are many ways to index

In [9]:
# dot notation
df.Country

0     Namibia
1    Portugal
2       Egypt
3       Haiti
4    Thailand
5     Bolivia
6     Estonia
Name: Country, dtype: object

In [10]:
# or using square brackets
df["Primary Energy Consumption (TWh)"].head(3)

0      22
1     258
2    1105
Name: Primary Energy Consumption (TWh), dtype: int64

In [11]:
# or using the .loc function
df.loc[2:4, "Country"]

2       Egypt
3       Haiti
4    Thailand
Name: Country, dtype: object

In [12]:
# you can also use conditional statements to index
df[df["Primary Energy Consumption (TWh)"] > 100]

    Country  Primary Energy Consumption (TWh)
1  Portugal                               258
2     Egypt                              1105
4  Thailand                              1406

In [13]:
# or use for loops to iterate through an axis
for i, row in df.iterrows():
    print(row["Country"])

Namibia
Portugal
Egypt
Haiti
Thailand
Bolivia
Estonia

## Activity 2

 Let's pull some data from the `usa_gen` DataFrame that we have loaded based on some of the information given to you through the graphic above. *Hint: It is best to only use the data that you need.
&nbsp;

**Use the cells below to print the following values:**

1. The total number of power plants in the US.
2. The minimum, maximum and average capacity of the plants in MW.
3. The number of listed solar farms.
4. The number of different plant types listed.
5. The year with the highest generation from all of the plants.

In [15]:
# The total number of power plants in the US with capacity greater than 5MW.

big_capacity = usa_gen[usa_gen["capacity_mw"]>5]

nb_pp = len(big_capacity)
print(nb_pp)

5607

In [17]:
# The minimum, maximum and average capacity of the plants in MW.
min_capacity = usa_gen["capacity_mw"].min()
max_capacity = usa_gen["capacity_mw"].max()
avg_capacity = usa_gen["capacity_mw"].mean()

print(min_capacity,
max_capacity,
avg_capacity)

0.0 6809.0 101.4094915396919

In [ ]:
# The number of listed solar farms.

In [ ]:
# The number of different plant types listed.

In [ ]:
# The year with the highest generation from all of the plants.

### Statistics, plotting etc
Pandas also provides lots of functions that can be used for statistical analysis and plotting (and many more) of large datasets

In [ ]:
# to calculate some summary statistics on the USA power plant capacity data
usa_gen["capacity_mw"].describe()

In [ ]:
# to plot capacity vs commissioning year
usa_gen.plot(x="commissioning_year", y="capacity_mw", kind='scatter')

## Activity 3
Try changing the variables and type of plot produced to investigate other features in the data.